body {
	font-family: Arial;
	background-color: #fafafa;
}
.jumbotron {
	background-color: #fafafa;
}
#displayTitle {
	background-color: #F0B253;
	width: 300px;
}
.imgWrapper {
	position: relative;
	margin:auto;
}
img {
	display: block;
	border: 2px solid silver;
	width: 300px;
	height: 300px;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 300px;
	width: 300px;
	opacity: 0;
	transition: .5s ease;
	background-color: #2f363d;
}
.imgWrapper:hover .overlay {
	opacity: 1;
}
.gameTitle {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}